fastapi[all]
uvicorn[standard]
starlette
pymongo
pytest
asyncio
aiohttp
aioredis
dependency-injector
motor
prometheus-fastapi-instrumentator
loguru
py-automapper
google-cloud-bigquery
pandas==2.1.3
db-dtypes

#Authentication
pyjwt[crypto]
certifi

#Observablity
prometheus-client==0.19.0
opentelemetry-distro==0.42b0
opentelemetry-instrumentation-fastapi==0.42b0
opentelemetry-instrumentation-logging==0.42b0
opentelemetry-exporter-otlp==1.21.0

#Testing
pytest
pytest-asyncio
pytest-cov
httpx
