fastapi[all]
uvicorn[standard]
starlette
pymongo
pytest
asyncio
aiohttp
aioredis
dependency-injector
motor
prometheus-fastapi-instrumentator
loguru
py-automapper

#Testing
pytest
pytest-asyncio
pytest-cov
httpx
